* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form {
    margin: 50px 400px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.form-input, .btn {
    padding: 10px;
    
}
.form-input {
    width: 200px;
    outline: none;
}
.btn {
    width: 100px;
}
.cards-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    margin: 50px 200px;
}
.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
}
.card p {
    margin: 10px;
}